*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:#c8d7bf;
}

/* HEADER */

header{

display:flex;
align-items:center;
justify-content:space-between;

background:#a4c68f;

padding:15px 40px;

border:2px solid #000;

}

.logo{
width:60px;
}

header input{

width:500px;

padding:12px;

border-radius:25px;

border:2px solid black;

background:#dbe8d1;

}

.icons{

display:flex;
gap:30px;
font-size:24px;

}


/* FORMULAIRE */

.login-container{

width:450px;

margin:80px auto;

background:#eeeeee;

padding:40px;

border-radius:25px;

}

.login-container h2{

margin-bottom:25px;

}

.login-container label{

display:block;

margin-top:15px;

font-weight:bold;

}

.login-container input{

width:100%;

padding:12px;

margin-top:5px;

border-radius:25px;

border:2px solid black;

background:#dbe8d1;

}

button{

width:100%;

margin-top:25px;

padding:14px;

border:none;

border-radius:30px;

background:#0a7a1e;

color:white;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#065d16;

}

.links{

margin-top:15px;

text-align:center;

}

.links a{

color:#0a7a1e;

text-decoration:none;

font-weight:bold;

}

.error{

color:red;

margin-bottom:15px;

}